@media (max-width: 768px) {
    .body {
        background-color: blue;
    }
}

@media (max-width: 600px) {
    .body {
        background-color: chocolate;
    }
}

@media (max-width: 480px) {
    .body {
        background-color: gold;
    }
}

@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 25px;
    }
    .row.content {
        height: auto;
    }
}

.titulo {
    background-color: blue;
}

.video1 {
    background: #2d2d30;
    color: #bdbdbd;
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    padding-top: 30px;
    position: relative;
}

.video1 video {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}