.derecha{
    text-align: right;
}

.titulo{
    font-size: 25px;
    font-weight: bold;
}

.tab{
    width: 50%;
    margin: 0 auto;
}
.subtitulo{
    font-size: 20px;
    font-weight: bold;
}

.espacio{
    text-indent: 2cm;
}
.cur{
    font-style: oblique;
}

.pie{
    font-style: oblique;
}